* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
.navBg {
  background-color: #ffffff;
}
.nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logoImg {
  width: 89px;
  height: 68px;
}
.list {
  display: flex;
  justify-items: center;
  gap: 32px;
  list-style: none;
}
.list a {
  text-decoration: none;
  color: #344054;
  font: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.navButton {
  display: flex;
  gap: 12px;
}
.logInButton {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 27px;
  padding-left: 27px;
  border: 1px solid #d0d5dd;
  border-radius: 24px;
  font-size: 18px;
  display: flex;
  justify-items: center;
  color: #000000;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}
.bookButton {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 27px;
  padding-left: 27px;
  border: 1px solid #a657e7;
  border-radius: 24px;
  font-size: 18px;
  display: flex;
  justify-items: center;
  color: #000000;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #a657e7;
}
/* Section1 */
.section1 {
  max-width: 1200px;
  margin: auto;
}
.section1Main {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px;
}
.secttion1Star {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 16px;
  color: #344054;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 300px;
  height: 40px;
}
.section1Lefthead {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 48px;
}
.span1 {
  background-image: linear-gradient(#2b034d, #b564f7, #d37ef0, #ef90ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.span2 {
  color: #d32e23;
}

.section1p {
  color: #344054;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.section1Button {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}
.sectionButton1 {
  background-image: linear-gradient(#b564f7, #6a2f9b);
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 24px;
  border: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.sectionButton2 {
  border: 1px solid #a657e7;
  border-radius: 24px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #b262f3;
}
.socialHeading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.section1Image {
  display: flex;
  gap: 20px;
}
.socialIcon {
  display: grid;
  gap: 20px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  margin-top: 20px;
  border-radius: 16px;
}
.socialIconImg {
  display: flex;
  gap: 32px;
}
.simg {
  width: 30px;
  height: 30px;
}
        /* Section 2 */
.section2{
  background-color: #FFFFFF;
  padding: 20px;
}
.section2Main{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.section2Left{
  position: relative;
  padding-right: 30px;
  flex: 1;
}

.section2Left::after{
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  width: 2px;
  background: linear-gradient(#00000000,#000000,#66666600);
}
.section2LeftHeading{
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
}
.section2Leftparagraph{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
}
.section2Right{
  display: flex;
  gap: 30px;
  flex: 1;
}




















/* Responsive Mobile */
@media (max-width: 600px) {
  .section1Main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
  }
  .leftsss {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .section1Image {
    flex-direction: column;
  }
  .section1Lefthead {
    font-size: 25px;
  }
  .section1p {
    font-size: 12px;
  }
  .section1Button {
    justify-content: center;
  }
  .sectionButton1 {
    font-size: 15px;
  }
  .sectionButton2 {
    font-size: 15px;
  }

  /* Section 2 */
  .section2Main{
    padding: 20px;
  }
.section2Left{
  justify-items: center;
  margin: auto;
}
  .section2LeftHeading{
    font-size: 24px;
  }

  .section2Leftparagraph{
    font-size: 16px;
  }

 .section2Right{
  display: grid;
  grid-template-columns: repeat(2, auto); /* auto width column */
  gap: 20px;
  justify-content: center;
  width: 340px;
}
}

/* Tablet */
@media (max-width: 900px) {
  .section1Main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
  }
  .leftsss {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .section1Lefthead {
    font-size: 22px;
  }
  .sectionButton1 {
    font-size: 18px;
  }
  .sectionButton2 {
    font-size: 18px;
  }
  .section1p {
    font-size: 10px;
  }
  .section1Button {
    justify-content: center;
  }
  .socialIconImg {
    display: flex;  
    justify-content: center;
    gap: 32px;
  }
  /* Section 2 */
   .section2Main{
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .section2Left::after{
    display: none; /* divider hide */
  }
}
